@import "~bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Roboto', sans-serif;
  }
  
  
 .header {
    background: black;
    color: white;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    padding: 10px 20px;    
    text-align: center;
        
  }
   .footer {
    background: black;
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
        
  }
  
  div#container {
    width: 360px;
    margin: 0 auto;
    border: 2px solid skyblue;
    background: #f7f7f7;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }

  i{
    color:red;
  }
  
  ul {
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    background: gray;
    padding-left: 10px;
    line-height: 2em;
    margin: 0;
    color: white;
  }
  
  li:nth-child(2n) { /* Cada dos saltos de línea se pinte de este color  */
    background: #3a3535;
  }
  
  li.clicked {
    color: gray;
    text-decoration: line-through;
  }
  
  input.addToDo {
    font-size: 18px;
    color: black;
    background: whitesmoke;
    border: none;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-border-box: border-box;
  }
  
  input.addToDo:focus {
    background: white;
    border: 2px solid skyblue;
    outline: none;
    transition: 0.1s;
  }
  
  i.fa-trash {
    margin: 7px;
  }
  
  span {
   
    margin-right: 10px;
    margin-left: -10px;
    text-align: center;
    display: inline-block; /*Para que ocupe el cuadro del span y siga en línea el label*/
    opacity: 0; /* Nivel de opacidad, para que quede oculto debajo del label*/
    transition: .2s linear; /*Efecto de aparición*/
    
    
  }
  
  li:hover span { /* Al posicionar mouse */
    opacity: 1.0;
    width: 40px;
  }